<div class="main-container">
  <div class="cards-container">
    <%= form_tag planes_path, method: :get, :id => "search_form" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "enter location or model"
      %>
      <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search button',:name => nil%>

    <% end %>
    <div class="row card-row">
      <% @planes.each do |plane| %>

        <%= link_to plane_path(plane) do %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-wrapper">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path plane.picture, height: 300, width: 400, crop: :fill %>);">
            </div>
            <div class="card-description">
              <h2><%= plane.make %></h2>
              $<%= plane.rate %>
              <%= plane.location %>
            </div>
          </div>
        </div>
        <% end %>

      <% end %>
    </div>
  </div>
  <div id="map" data-markers="<%= @markers.to_json %>">
  </div>
</div>




