
<div id="newshow">
<div class="container dashboard-container">

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Plane Details</h1>

      <%= simple_form_for @plane do |f| %>
        <%= f.input :rate , placeholder: "Eg. $180", label: "Rate per day" %>
        <%= f.input :make, placeholder: "cessna 152"  %>
        <%= f.input :description, placeholder: "specifications" %>
        <%= f.input :location, placeholder: "city"  %>
        <%= f.input :picture , label: "Picture"%>
        <%= f.button :submit, class: 'btn btn-primary button'%>
      <% end %>
    </div>
  </div>
</div>
<%= link_to "Go back", @plane %>
</div>


