<div class="responsive">
<div class="container_picture">
<div class="banner" style="background-image: url('<%= @plane.picture %>');"></div>
<div class="description">
    <h1><%= @plane.make %></h1>
    <p>$<%= @plane.rate %></p>
    <p><%= @plane.description %></p>
    <p><%= @plane.location %></p>
    <%  if current_user != @plane.user %>
    <p><%= link_to "Book this plane", new_plane_rental_path(@plane), class: "btn btn-primary btn-lg" %></p>
    <% else %>
    <span>Delete<%= link_to plane_path, method: :delete, data: { confirm: "Are you sure?" } do %>
<i class="fa fa-trash destroy_plane"></i>
</span>
<% end %>
<span>
Edit
<%= link_to edit_plane_path(@plane),  method: :get do %>
<i class="far fa-edit edit_plane"></i>
</span>
<% end %>
<% end %>
</div>
</div>
</div>
</div>



<div class="footer">
  <div class="footer-copyright">
    Cheers from Le Wagon Amsterdam <i class="fa fa-heart"></i>
  </div>
</div>
